.btn-sidebar {
  background-color: white;
  border: none;
  color: #0d6efd;
  padding: 10px 12px;
  transition: background-color 0.2s ease;
}


.sidebar {
       background-color: #f7f7fa!important; /* Light gray background for sidebar */
}

.btn-sidebar:hover {
  background-color: #e2e6ea!important; /* Light gray (secondary hover effect) */
  color: #0d6efd;
}

.custom-input-group .form-control:focus,
  .custom-input-group .input-group-text:focus {
    box-shadow: none;
    outline: none;
  }

  .custom-input-group:focus-within {
    border: 1px solid #0d6efd;
    border-radius: 0.375rem;
  }

  .custom-input-group {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    max-width: 200px;
  
  }

  .custom-input-group .input-group-text,
  .custom-input-group .form-control {
    border: none;
    background-color: transparent;
  }

  .custom-input-group .form-control:focus {
    box-shadow: none;
  }